* {
  box-sizing: border-box;
}

/* brand color palette */
:root {
  --backgroundcolor: #001b18;
  --titlecolor: #adc5c2;
  --stripcolor: #2db8a7;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--titlecolor);
  background-color: var(--backgroundcolor);
  line-height: 1.5;
}

header {
  padding: 15px 6% 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--backgroundcolor);
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--titlecolor);
  margin-right: 10px;
  background-image: linear-gradient(270deg, var(--titlecolor) 0%, var(--titlecolor) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  font-size: 20px;
}

nav a:hover {
  background-size: 100% 100%;
  color: var(--backgroundcolor);
}

nav a:last-child {
  margin-right: 0;
}

main {
  margin-top: 60px;
  margin-bottom: 45px;
}

p {
  margin: 0;
  font-size: 20px;
  font-weight: bolder;
}

h1 {
  font-size: 50px;
}

.text-center {
  text-align: center;
}

/* Hero Section */
.hero {
  background: var(--backgroundcolor);
  color: var(--titlecolor);
  padding: 2% 5% 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}

.hero h1 {
  margin: 0;
}

.hero h2 {
  margin: 0 0 30px 0;
}

.hero img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 20px;
}

/* About Me */
.aboutme {
  padding: 100px;
  margin: 50px 0;
  background-color: var(--stripcolor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 30px;
}

/* Projects Section */
.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  margin: 20px 0;
}

/* Featured Project */
.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px 0;
}

.feature h1 {
  padding: 0, 75px;
}

.feature a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.feature a div {
  background-color: var(--titlecolor);
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 125px;
  width: 900px;
}

.feature a div h2 {
  color: var(--backgroundcolor);
}

.feature a div span {
  color: var(--backgroundcolor);
}

.feature a img{
  border: 5px solid var(--titlecolor);
  background-color: var(--backgroundcolor);
  color: var(--stripcolor);
  min-height: 150px;
  width: 900px;
  display: flex;  
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
}

/* Other Projects */
.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px 0;
}

.project a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.project a div {
  background-color: var(--titlecolor);
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 125px;
  width: 400px;
}

.project a div h2 {
  color: var(--backgroundcolor);
}

.project a div span {
  color: var(--backgroundcolor);
}

.project a img{
  border: 5px solid var(--titlecolor);
  background-color: var(--backgroundcolor);
  color: var(--stripcolor);
  min-height: 150px;
  height: 300px;
  width: 400px;
  display: flex;  
  align-items: center;
  margin: 0.5em;
  text-decoration: none;
  background-blend-mode: soft-light;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
}

/* Contact Section */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact address {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.contact address a img{
  height: 75px;
  width: 75px;
  margin: 10px;
  padding: 10px;
  border: 10px;
}

.contact address a img:hover {
  background-size: 100% 88%;
  background-color: var(--titlecolor);
}

/* Responsive Features */
@media screen and (max-width: 980px) {
  header {
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  header nav {
    justify-content: center;
  }

  .feature {
    flex-direction: column;
  }

  .feature h1 {
    padding-right: 0;
  }

  .feature a div {
    width: 400px;
  }

  .feature a img {
    width: 400px;
    height: 400px;
  }

}

@media screen and (max-width: 768px) {

  .feature a img {
    height: 300px;
  }
}